.block {
    height: 100px;
    width: 100px;
    background-color: lawngreen;
}

.block :hover {
    animation-name: my-first-animation;
    animation-duration: 10s;
} 

@keyframes my-first-animation {
    from {
    background-color: lawngreen;
    }

    to {
    background-color: blueviolet;
    }
}

@keyframes my-first-animation {
    0% {
    transform: translateX(0);
    }
    25% {
        transform: translate(250px, 0);
    }

    50% {
    transform: translateX(250px, 150px);
    }

    100% {
    transform: translateX(0);
    }
}