.block {
    margin: 20px;
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: aquamarine;

    transform: translateX(150px);
    transform: translateY(150px);
    transform: rotate(45deg);
    transform: rotate(1turn);

    transform: scale(12, 32);
}