<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/quiz.css">
    <title>Quiz</title>
</head>
<body>
    <div class="conten">
        <div class="questions">
            <h1>{{question.question}}</h1>
        </div>
        <div class="answer">
            <p>{{question.answer}}</p>
        </div>
    </div>
    <!-- Home Button -->
    <!-- <a href="{{ url_for('welcome') }}">Home</a> -->
    <!-- Next Question Button -->
    <!-- <a href="{{ url_for('questins_view', index=index+1) }}">Next Question</a> -->

    <button>
        {% if index < max_index %}
        <a href="{{ url_for('questins_view', index=index+1) }}">Next</a>
        {%  else %}
        <a href="{{ url_for('questins_view', index=0) }}">Start again</a>
        {% endif%}
    </button>
    <div class="links">
    <a href="{{ url_for('welcome') }}">Home</a>
    <a href="{{ url_for('deleting', index=index)}}">Delet the Question</a>
    </div>

</body>
</html>