<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/remove.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove a Question</title>
</head>
<body>
    <h1>Remove a Question</h1>
    <div class="pair">
        <div class="question">
            <p>{{question.question}}</p>
        </div>
        <div class="answer">
            <p>{{question.answer}}</p></div>
    </div>
    <div class="confirmation">
        <p>Are you sure??</p>
        <form method="POST">
        <button type='submit'>Yes!</button>
        <a href="{{ url_for('welcome')}}">No!</a>
        </form>
    </div>
</body>
</html>